In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190831.txt', sep=",", names=['Region Name'])

/home/nick/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head()

                                                                                                                           Region Name
C/A  UNIT SCP      STATION LINENAME DIVISION DATE       TIME     DESC    ENTRIES     EXITS                                         ...
A002 R051 02-00-00 59 ST   NQR456W  BMT      08/24/2019 00:00:00 REGULAR 0007176756  0002430372                                    ...
                                                        04:00:00 REGULAR 0007176772  0002430375                                    ...
                                                        08:00:00 REGULAR 0007176786  0002430408                                    ...
                                                        12:00:00 REGULAR 0007176862  0002430481                                    ...