In [2]:
#######################
# standard code block #
#######################

%pylab inline
# see https://ipython.readthedocs.io/en/stable/interactive/magics.html

%config InlineBackend.figure_format = 'svg'

Populating the interactive namespace from numpy and matplotlib

# Introduction to Pandas

## From the Pandas Documentation:

Here are just a few of the things that pandas does well:

- Easy handling of **missing data** (represented as NaN) in floating point as well as non-floating point data
- Size mutability: columns can be **inserted and deleted** from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations
- Powerful, flexible **group by** functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
- Make it **easy to convert** ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
- Intelligent **label-based slicing**, **fancy indexing**, and **subsetting** of large data sets
- Intuitive **merging** and **joining** data sets
- Flexible **reshaping** and **pivoting** of data sets
- **Hierarchical labeling** of axes (possible to have multiple labels per tick)
- **Robust IO tools** for loading data from flat files (CSV and delimited), Excel files, databases, and saving / loading data from the ultrafast HDF5 format
- **Time series**-specific functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

### 10 Minutes Intro to Pandas ###

Pandas has an official 10 minute intro.

http://pandas.pydata.org/pandas-docs/stable/10min.html

## Set Up Pandas Default Parameters

In [3]:
# imports a library 'pandas', names it as 'pd'
# this is a common convention
import pandas as pd
import numpy as np

In [4]:
# if you run into trouble, it's often helpful to know which version you're on
print("Pandas version:", pd.__version__)
print("Numpy version:", np.__version__)

Pandas version: 1.0.1
Numpy version: 1.18.1

In [5]:
# various options in pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

## Data Structures

### 1. Series

One Dimensional Array / Vector of Values (Think these as your data columns).  One important aspect of them is that they carry an "index" (which you can think of as a row indicator).

### 2. DataFrames

Think of DataFrame as a Table with Columns.  This is the workhorse of everything you will do with data analysis.  Learning Pandas and its functions can be challenging, but stick with it and ask questions.  Structurally, a DataFrame can be thought of as a collection of Series objects with the same index.

### 3. [Panel Data](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Panel.html)

Three Dimensional Arrays  (Mentioned for reference, but we will not get much into these)

## So, What is a Pandas DataFrame?

In [6]:
pd.Series?

In [7]:
## Make a Series
s = pd.Series([1, 3, 5, np.nan, 6, 8, 10, 11])

s

0     1.0
1     3.0
2     5.0
3     NaN
4     6.0
5     8.0
6    10.0
7    11.0
dtype: float64

In [8]:
pd.DataFrame?

In [9]:
df = np.random.randn(8,4)
df

array([[ 0.13936958, -1.45605242,  0.31723886,  0.33322888],
       [ 0.72310653,  0.24792617,  0.15226592,  0.45577666],
       [-0.12472807,  1.05951917, -0.5686418 , -0.79149066],
       [ 0.95886194, -2.84463901, -0.22230844,  1.26012316],
       [-0.11096637,  2.71176119, -0.76550981, -1.00519955],
       [ 0.44670756,  0.30927334, -0.18276412, -0.71595746],
       [-1.88370805,  0.13127186,  0.29430093,  0.5285014 ],
       [ 0.34682905,  0.33301326, -1.00529365, -0.03389622]])

In [10]:
## Make a dataframe from a numpy array
df1 = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df1

       A      B      C      D
0 -1.110 -0.760  0.590 -1.239
1  0.356  0.283  0.961 -0.633
2 -1.352 -0.861  0.584  1.711
3 -1.251  1.026 -0.958  0.399
4  2.011 -1.064 -0.853  0.523
5 -0.294  0.172 -0.084 -1.149

In [11]:
## Make a dataframe from a dictionary
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

## Load a Data Set

### "Census Income" Dataset

http://archive.ics.uci.edu/ml/  
pandas can load a lot more than csvs, this tutorial shows how pandas can read excel, sql, and even copy and paste...
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/

In [19]:
# download the data and name the columns
cols = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num',
    'marital_status', 'occupation', 'relationship', 'ethnicity', 'gender',
    'capital_gain', 'capital_loss', 'hours_per_week', 'country_of_origin',
    'income'
]

df_with_cols = pd.read_csv(
    'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',
    names=cols, header=0)
print(df_with_cols)

       age          workclass  fnlwgt    education  education_num  \
0       50   Self-emp-not-inc   83311    Bachelors             13
1       38            Private  215646      HS-grad              9
2       53            Private  234721         11th              7
3       28            Private  338409    Bachelors             13
4       37            Private  284582      Masters             14
...    ...                ...     ...          ...            ...
32555   27            Private  257302   Assoc-acdm             12
32556   40            Private  154374      HS-grad              9
32557   58            Private  151910      HS-grad              9
32558   22            Private  201490      HS-grad              9
32559   52       Self-emp-inc  287927      HS-grad              9

            marital_status          occupation    relationship ethnicity  \
0       Married-civ-spouse     Exec-managerial         Husband     White
1                 Divorced   Handlers-cleaners   Not-in-family     White
2       Married-civ-spouse   Handlers-cleaners         Husband     Black
3       Married-civ-spouse      Prof-specialty            Wife     Black
4       Married-civ-spouse     Exec-managerial            Wife     White
...                    ...                 ...             ...       ...
32555   Married-civ-spouse        Tech-support            Wife     White
32556   Married-civ-spouse   Machine-op-inspct         Husband     White
32557              Widowed        Adm-clerical       Unmarried     White
32558        Never-married        Adm-clerical       Own-child     White
32559   Married-civ-spouse     Exec-managerial            Wife     White

        gender  capital_gain  capital_loss  hours_per_week country_of_origin  \
0         Male             0             0              13     United-States
1         Male             0             0              40     United-States
2         Male             0             0              40     United-States
3       Female             0             0              40              Cuba
4       Female             0             0              40     United-States
...        ...           ...           ...             ...               ...
32555   Female             0             0              38     United-States
32556     Male             0             0              40     United-States
32557   Female             0             0              40     United-States
32558     Male             0             0              20     United-States
32559   Female         15024             0              40     United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32555   <=50K
32556    >50K
32557   <=50K
32558   <=50K
32559    >50K

[32560 rows x 15 columns]

In [16]:

df_without = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')
print(df_without)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
df_without = pd.read_csv(
    'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=1)
print(df_without)

       39          State-gov   77516    Bachelors   13        Never-married  \
0      50   Self-emp-not-inc   83311    Bachelors   13   Married-civ-spouse
1      38            Private  215646      HS-grad    9             Divorced
2      53            Private  234721         11th    7   Married-civ-spouse
3      28            Private  338409    Bachelors   13   Married-civ-spouse
4      37            Private  284582      Masters   14   Married-civ-spouse
...    ..                ...     ...          ...  ...                  ...
32555  27            Private  257302   Assoc-acdm   12   Married-civ-spouse
32556  40            Private  154374      HS-grad    9   Married-civ-spouse
32557  58            Private  151910      HS-grad    9              Widowed
32558  22            Private  201490      HS-grad    9        Never-married
32559  52       Self-emp-inc  287927      HS-grad    9   Married-civ-spouse

             Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0         Exec-managerial         Husband   White     Male      0   0   13
1       Handlers-cleaners   Not-in-family   White     Male      0   0   40
2       Handlers-cleaners         Husband   Black     Male      0   0   40
3          Prof-specialty            Wife   Black   Female      0   0   40
4         Exec-managerial            Wife   White   Female      0   0   40
...                   ...             ...     ...      ...    ...  ..  ...
32555        Tech-support            Wife   White   Female      0   0   38
32556   Machine-op-inspct         Husband   White     Male      0   0   40
32557        Adm-clerical       Unmarried   White   Female      0   0   40
32558        Adm-clerical       Own-child   White     Male      0   0   20
32559     Exec-managerial            Wife   White   Female  15024   0   40

        United-States   <=50K
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3                Cuba   <=50K
4       United-States   <=50K
...               ...     ...
32555   United-States   <=50K
32556   United-States    >50K
32557   United-States   <=50K
32558   United-States   <=50K
32559   United-States    >50K

[32560 rows x 15 columns]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       50  Self-emp-not-inc   83311    Bachelors   13      Married-civ-spouse  \
0      38           Private  215646      HS-grad    9                Divorced
1      53           Private  234721         11th    7      Married-civ-spouse
2      28           Private  338409    Bachelors   13      Married-civ-spouse
3      37           Private  284582      Masters   14      Married-civ-spouse
4      49           Private  160187          9th    5   Married-spouse-absent
...    ..               ...     ...          ...  ...                     ...
32554  27           Private  257302   Assoc-acdm   12      Married-civ-spouse
32555  40           Private  154374      HS-grad    9      Married-civ-spouse
32556  58           Private  151910      HS-grad    9                 Widowed
32557  22           Private  201490      HS-grad    9           Never-married
32558  52      Self-emp-inc  287927      HS-grad    9      Married-civ-spouse

          Exec-managerial         Husband   White     Male      0   0.1  \
0       Handlers-cleaners   Not-in-family   White     Male      0     0
1       Handlers-cleaners         Husband   Black     Male      0     0
2          Prof-specialty            Wife   Black   Female      0     0
3         Exec-managerial            Wife   White   Female      0     0
4           Other-service   Not-in-family   Black   Female      0     0
...                   ...             ...     ...      ...    ...   ...
32554        Tech-support            Wife   White   Female      0     0
32555   Machine-op-inspct         Husband   White     Male      0     0
32556        Adm-clerical       Unmarried   White   Female      0     0
32557        Adm-clerical       Own-child   White     Male      0     0
32558     Exec-managerial            Wife   White   Female  15024     0

        13.1   United-States   <=50K
0         40   United-States   <=50K
1         40   United-States   <=50K
2         40            Cuba   <=50K
3         40   United-States   <=50K
4         16         Jamaica   <=50K
...      ...             ...     ...
32554     38   United-States   <=50K
32555     40   United-States    >50K
32556     40   United-States   <=50K
32557     20   United-States   <=50K
32558     40   United-States    >50K

[32559 rows x 15 columns]

### Q: What's happening in the above cell?

In [14]:
"""
In the above cell, we are first creating a list with column names, then downloading the csv file into a pandas dataframe, aligning the columns with the names in the cols list.

    ~~~why wouldn't the data already have column names in it? 
"""

"\nIn the above cell, we are first creating a list with column names, then downloading the csv file into a pandas dataframe, aligning the columns with the names in the cols list.\n\n    ~~~why wouldn't the data already have column names in it? \n"

## Viewing Data

* .info() 
* .head()
* .tail()
* .columns
* .values
* .dtype

### info

Displays the Columns, Types, Rows and the memory used by the dataframe

In [15]:
# we can see there are no null values
# columns with numerical values are type int64, no need to set data type

df_with_cols.info()
df_without.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                32561 non-null  int64
 1   workclass          32561 non-null  object
 2   fnlwgt             32561 non-null  int64
 3   education          32561 non-null  object
 4   education_num      32561 non-null  int64
 5   marital_status     32561 non-null  object
 6   occupation         32561 non-null  object
 7   relationship       32561 non-null  object
 8   ethnicity          32561 non-null  object
 9   gender             32561 non-null  object
 10  capital_gain       32561 non-null  int64
 11  capital_loss       32561 non-null  int64
 12  hours_per_week     32561 non-null  int64
 13  country_of_origin  32561 non-null  object
 14  income             32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [32]:

df_with_cols['age'][0]
print('df_with_cols.columns: {}'.format(df_with_cols.columns))
print('df_without.columns: {}'.format(df_without.columns))
print('df_without: {}'.format(df_without))
print('df_with_cols: {}'.format(df_with_cols))

df_with_cols.columns: Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'ethnicity', 'gender',
       'capital_gain', 'capital_loss', 'hours_per_week', 'country_of_origin',
       'income'],
      dtype='object')
df_without.columns: Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')
df_without:        39          State-gov   77516    Bachelors   13        Never-married  \
0      50   Self-emp-not-inc   83311    Bachelors   13   Married-civ-spouse
1      38            Private  215646      HS-grad    9             Divorced
2      53            Private  234721         11th    7   Married-civ-spouse
3      28            Private  338409    Bachelors   13   Married-civ-spouse
4      37            Private  284582      Masters   14   Married-civ-spouse
...    ..                ...     ...          ...  ...                  ...
32555  27            Private  257302   Assoc-acdm   12   Married-civ-spouse
32556  40            Private  154374      HS-grad    9   Married-civ-spouse
32557  58            Private  151910      HS-grad    9              Widowed
32558  22            Private  201490      HS-grad    9        Never-married
32559  52       Self-emp-inc  287927      HS-grad    9   Married-civ-spouse

             Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0         Exec-managerial         Husband   White     Male      0   0   13
1       Handlers-cleaners   Not-in-family   White     Male      0   0   40
2       Handlers-cleaners         Husband   Black     Male      0   0   40
3          Prof-specialty            Wife   Black   Female      0   0   40
4         Exec-managerial            Wife   White   Female      0   0   40
...                   ...             ...     ...      ...    ...  ..  ...
32555        Tech-support            Wife   White   Female      0   0   38
32556   Machine-op-inspct         Husband   White     Male      0   0   40
32557        Adm-clerical       Unmarried   White   Female      0   0   40
32558        Adm-clerical       Own-child   White     Male      0   0   20
32559     Exec-managerial            Wife   White   Female  15024   0   40

        United-States   <=50K
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3                Cuba   <=50K
4       United-States   <=50K
...               ...     ...
32555   United-States   <=50K
32556   United-States    >50K
32557   United-States   <=50K
32558   United-States   <=50K
32559   United-States    >50K

[32560 rows x 15 columns]
df_with_cols:        age          workclass  fnlwgt    education  education_num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            marital_status          occupation    relationship ethnicity  \
0            Never-married        Adm-clerical   Not-in-family     White
1       Married-civ-spouse     Exec-managerial         Husband     White
2                 Divorced   Handlers-cleaners   Not-in-family     White
3       Married-civ-spouse   Handlers-cleaners         Husband     Black
4       Married-civ-spouse      Prof-specialty            Wife     Black
...                    ...                 ...             ...       ...
32556   Married-civ-spouse        Tech-support            Wife     White
32557   Married-civ-spouse   Machine-op-inspct         Husband     White
32558              Widowed        Adm-clerical       Unmarried     White
32559        Never-married        Adm-clerical       Own-child     White
32560   Married-civ-spouse     Exec-managerial            Wife     White

        gender  capital_gain  capital_loss  hours_per_week country_of_origin  \
0         Male          2174             0              40     United-States
1         Male             0             0              13     United-States
2         Male             0             0              40     United-States
3         Male             0             0              40     United-States
4       Female             0             0              40              Cuba
...        ...           ...           ...             ...               ...
32556   Female             0             0              38     United-States
32557     Male             0             0              40     United-States
32558   Female             0             0              40     United-States
32559     Male             0             0              20     United-States
32560   Female         15024             0              40     United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]

### head

Displays the first few rows in the dataframe

In [16]:
# to view the first 5 or specify with ex: .head(10)
df.head(10)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

### tail

Displays the last few rows in the dataframe

In [29]:
df.tail()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### sample

Displays a sample of rows in the dataframe

In [33]:
# head and tail are good.  But sometimes we want to randomly sample data
df.sample(5, random_state=41)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income
31346,64,Federal-gov,271550,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,>50K
26864,17,Private,238628,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,5,United-States,<=50K
30544,24,Private,118023,Some-college,10,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,30,United-States,<=50K
17397,45,Private,54744,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1848,40,United-States,>50K
10168,28,Private,132078,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K

### Q: What do you expect to happen when you re-run the cell?

What actually happens? Why?

In [ ]:
"""
I might expect a different 5 rows would be sampled, but upon running the cell again, the rows are the same.
This actually makes sense, because we set random_state equal to 42. If we set it to a different integer, 
we get 5 new random rows.
"""

### Columns

Returns a list of columns in the dataframe

In [34]:
# view all columns of the dataframe
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'ethnicity', 'gender',
       'capital_gain', 'capital_loss', 'hours_per_week', 'country_of_origin',
       'income'],
      dtype='object')

### Column Types

Returns the type of each column

In [35]:
df.dtypes

age                   int64
workclass            object
fnlwgt                int64
education            object
education_num         int64
marital_status       object
occupation           object
relationship         object
ethnicity            object
gender               object
capital_gain          int64
capital_loss          int64
hours_per_week        int64
country_of_origin    object
income               object
dtype: object

## Rename Columns

In [36]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'ethnicity', 'gender',
       'capital_gain', 'capital_loss', 'hours_per_week', 'country_of_origin',
       'income'],
      dtype='object')

In [51]:
# replace a column name
df.rename(columns={'country_of_origin': 'native_country'}, inplace=True)
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,ethnicity,gender,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Q: What does `in_place` do above?

In [ ]:
"""
in_place makes the change in the original dataframe. 
Not using in_place means you have to set to a variable to access it, and the original dataframe is untouched.
"""

## Descriptives 

* .describe()
* .value_counts()
* .mean()
* .unique()

### describe

Displays summary statistic for each numerical column

In [54]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000,3.256e+04,32561.000,32561.000,32561.000,32561.000
mean,38.582,1.898e+05,10.081,1077.649,87.304,40.437
std,13.640,1.055e+05,2.573,7385.292,402.960,12.347
min,17.000,1.228e+04,1.000,0.000,0.000,1.000
25%,28.000,1.178e+05,9.000,0.000,0.000,40.000
50%,37.000,1.784e+05,10.000,0.000,0.000,40.000
75%,48.000,2.371e+05,12.000,0.000,0.000,45.000
max,90.000,1.485e+06,16.000,99999.000,4356.000,99.000

### value_counts

Counts the number of occurrences of each categorical value for the column

In [55]:
df['education']

0          Bachelors
1          Bachelors
2            HS-grad
3               11th
4          Bachelors
            ...
32556     Assoc-acdm
32557        HS-grad
32558        HS-grad
32559        HS-grad
32560        HS-grad
Name: education, Length: 32561, dtype: object

In [56]:
type(df.education)

pandas.core.series.Series

In [57]:
df.education.value_counts()

## Also works for numeric columns - treating the individual values as factors

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [58]:
type(df.education.value_counts())

pandas.core.series.Series

In [59]:
df.education.value_counts().plot('barh')

TypeError: `Series.plot()` should not be called with positional arguments, only keyword arguments. The order of positional arguments will change in the future. Use `Series.plot(kind='barh')` instead of `Series.plot('barh',)`.

In [ ]:
df.hours_per_week.mean()

# Can also do:
df['hours_per_week'].mean()

### Q: What do you think we will get if we ask for the `type` of `df.hours_per_week` ?

### Unique

Returns the unique values for the column

In [ ]:
# there's a space before each string in this data
df.education.unique()

In [ ]:
# looks like it's in every object column
df.workclass.unique()

In [ ]:
df["education"] = df.education.str.strip()

In [ ]:
# Hurray We removed the leading space
df.education.unique()

In [ ]:
df.gender.unique()

In [ ]:
# Remove leading space in values
df["gender"] = df.gender.str.strip()

In [ ]:
df.gender.unique()

## Selecting Rows and Columns

### .loc 

* Selects row and columns by Names
* **by label**             `.loc[]`

### .iloc

* Selects row and columns by Index Position
* **by integer position**  `.iloc[]`

http://pandas.pydata.org/pandas-docs/stable/indexing.html

In [ ]:
# select a row
df.iloc[3]

In [ ]:
df.iloc[0:3]

## Note: I got 3 rows returned, similar to the indexing that applies to Python lists

In [ ]:
# select a range of rows
df.iloc[10:15]

In [ ]:
# last 2 rows
df.iloc[-2:]

In [ ]:
# selecting every other row in columns 3-5
df.iloc[::2, 2:5].head()

In [ ]:
# select a row
df.loc[0:3]

### Q: Why did I get 4 rows above here instead of 3?





Integers vs. labels!

In [ ]:
(df.loc[0:2, 'age'])

In [ ]:
df.iloc[0:2, 2:6]

## Filtering

In [ ]:
(df.age > 50)

In [ ]:
asd = df[df.age > 50].head(5)

In [ ]:
# Filter for only certain Columns
df.loc[df.age > 50, ['age', 'education', 'occupation', 'gender', 'income']]

# What happens if I try to do the same with df.iloc instead of df.loc?

In [ ]:
df[df.age > 50].head(4)

## Now Filter on Gender

In [ ]:
df.gender == 'Male'

In [ ]:
df.loc[df.gender == 'Male', ]

## Now Filter on Gender and Age Between 30 and 40

In [ ]:
(df.gender == 'Male') & (df.age >= 30) & (df.age <= 40)

In [ ]:
(df.age >= 30) & (df.gender == 'Male')

df.loc[(df.age >= 30) & (df.gender == 'Male') & (df.age <= 40), :]

## Find Nulls

In [ ]:
# as we saw with df.info() there are no nulls...
# but if there were this would find the rows where age is null
df[df.age.isnull()]

## Fill Nulls

In [ ]:
null_df = pd.DataFrame([1, 2, 4, np.nan], columns=['column1'])

In [ ]:
null_df

In [ ]:
# you can also fill nulls with a value or string
null_df.column1.fillna(1000)

In [ ]:
# fillna does not do it inplace unless you specify
null_df

In [ ]:
# you can also fill null with the median or mean value of the column
null_df.fillna(null_df.column1.median(), inplace=True)
null_df

In [ ]:
null_df.fillna('random_string')

## Drop Nulls

In [ ]:
null_df = pd.DataFrame([1, 2, 4, np.nan], columns=['column1'])
null_df

In [ ]:
null_df.dropna(how = 'any')

In [ ]:
# .isnull() and .notnull() do opposite things
null_df.isnull()

In [ ]:
null_df.notnull()

## Groupby

In [ ]:
df.groupby('relationship').count()

In [ ]:
# How to groupby column and apply a function like sum, count, or mean
df.groupby(['education']).mean()

In [ ]:
df.groupby([
    'education',
    'age',
])[['hours_per_week', 'capital_gain']].mean()

In [ ]:
# To groupby multiple columns with multiple functions attached
df.groupby(['income', 'native_country']).age.agg(['count', 'mean'])
# grouped in order of which column is listed first

In [ ]:
df.columns

In [17]:
# can use the aggs function to aggregate columns separately
gb = df.groupby(['income', 'native_country'])
gb_aggs = gb.agg({'age': 'mean', 'capital_gain': 'sum'})
gb_aggs.sample(1)

KeyError: 'native_country'

In [ ]:
# combine groupby with boolean
df[df.native_country == ' United-States'].groupby(
    ['education']).hours_per_week.mean()

## Sort
* ### sort_index() to sort by index
* ### sort_values() to sort by values

In [ ]:
# groupby income and country and then sort by their mean age within each data block
df_grouped = df.groupby(['income', 'native_country']).mean().sort_values(
    'age', ascending=True)
df_grouped

# Note: In this example, the groupby, mean, and sort functions are stringed together in one line
# in the next example, we will show a different syntax so that you could write them on separate
# lines to make the code a little easier to read

In [ ]:
# We want to group people by their income and country
# Then sort them by their income ASCE, and then sort by average age within that group DESC 
(df
 .groupby(['income','native_country'])
 .mean()
 .reset_index()
 .sort_values(['income','age'], ascending=[True,False])
)

# Note: In this example, we sort by the SAME column which we grouped by earlier 
# (eg. we first groupby 'income' and then sort by 'income')
# In this case, we must use .reset_index() to re-index the groupby objects, because the 'income' 
# column no longer exists after the groupby and hence cannot be sorted directly